@import 'vars'

@import components-font-awesome/scss/font-awesome

// include the bootswatch theme
@import bootswatch-scss/slate/variables
@import bootstrap-sass-official/assets/stylesheets/bootstrap/variables
@import bootstrap-sass-official/assets/stylesheets/bootstrap
@import bootswatch-scss/slate/bootswatch

// Space out content a bit
body
  padding-top: 150px
  padding-bottom: 20px
  /* Margin bottom by footer height */
  margin-bottom: 60px

.footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 60px
  //background-color: #2b2e32
  background-image: linear-gradient(#484e55, #3A3F44 60%, #313539)
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)

  .text-muted
    margin: 20px 0

// elemental damage colors
.elem-corrosive
  color: $corrosiveColor

.elem-electro
  color: $electroColor

.elem-explosive
  color: $explosiveColor

.elem-fire
  color: $fireColor

.elem-slag
  color: $slagColor

.unique-text
  color: $uniqueTextColor

.additional-text
  color: $additionalTextColor

.gibbed-code
  word-break: break-all
  word-wrap: break-word
