<div class="panel panel-default">
    <div class="panel-heading" data-translate="admin.rarities.list.pageTitle"></div>
    <div class="panel-body" data-translate="admin.rarities.list.pageDescription"></div>

    <table class="table table-striped table-bordered">
        <tr>
            <th data-translate="admin.rarities.list.table.header.name"></th>
            <th data-translate="admin.rarities.list.table.header.color">color</th>
            <th data-translate="admin.rarities.list.table.header.sortOrder">sortOrder</th>
            <th data-translate="admin.rarities.list.table.header.menu" class="col-xs-1"></th>
        </tr>
        <tr data-ng-repeat="rarity in vm.rarities" style="color: {{rarity.color}}">
            <td>{{rarity.name}}</td>
            <td>{{rarity.color}}</td>
            <td>{{rarity.sortOrder}}</td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-xs"
                        data-ui-sref=".edit({id: rarity.id})">
                    <span class="glyphicon glyphicon-pencil" title="{{'admin.rarities.list.table.menu.edit' | translate}}"></span>
                </button>

                <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.remove(rarity)">
                    <span class="glyphicon glyphicon-trash" title="{{'admin.rarities.list.table.menu.delete' | translate}}"></span>
                </button>
            </td>
        </tr>
    </table>

    <div class="panel-footer text-right">
        <button type="button" class="btn btn-success" data-ui-sref=".create" title="{{'admin.rarities.list.table.footer.create' | translate}}">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span data-translate="admin.rarities.list.table.footer.create"></span>
        </button>
    </div>

</div>

