<div class="panel panel-default">
    <div class="panel-heading" data-translate="admin.manufacturers.list.pageTitle"></div>
    <div class="panel-body" data-translate="admin.manufacturers.list.pageDescription"></div>

    <table class="table table-striped table-bordered">
        <tr>
            <th data-translate="admin.manufacturers.list.table.header.name">name</th>
            <th data-translate="admin.manufacturers.list.table.header.menu" class="col-xs-1">&nbsp;</th>
        </tr>
        <tr data-ng-repeat="manufacturer in manufacturers">
            <td>{{manufacturer.name}}</td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-xs"
                        data-ui-sref=".edit({id: manufacturer.id})">
                    <span class="glyphicon glyphicon-pencil" title="{{'admin.manufacturers.list.table.menu.edit' | translate}}"></span>
                    <span class="gl"></span>
                </button>

                <button type="button" class="btn btn-danger btn-xs" data-ng-click="remove(manufacturer)">
                    <span class="glyphicon glyphicon-trash" title="{{'admin.manufacturers.list.table.menu.edit' | translate}}"></span>
                </button>
            </td>
        </tr>
    </table>

    <div class="panel-footer text-right">
        <button type="button" class="btn btn-success" data-ui-sref=".create" title="{{'admin.manufacturers.list.table.footer.create' | translate}}">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span data-translate="admin.manufacturers.list.table.footer.create"></span>
        </button>
    </div>

</div>

