<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="NavCtrl">-->

<header>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="NavCtrl">-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <img class="logo" src="images/bl2-logo.png">
                </button>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden-xs hidden-sm"><a href="#" class="logo-link">
                        <img class="logo" src="images/bl2-logo.png">
                    </a>
                    </li>

                    <li data-ng-class="{active: $state.includes('items')}"><a data-ui-sref="items">Items</a></li>

                    <li class="dropdown" data-ng-class="{active: $state.includes('weapons')}">
                        <a class="dropdown-toggle" data-toggle="dropdown">Weapons <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li data-ng-class="{active: $state.includes('weapons.list')}"><a
                                    data-ui-sref="weapons.list">List</a></li>
                            <li data-ng-class="{active: $state.includes('weapons.create')}"><a
                                    data-ui-sref="weapons.create">Create</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-class="{active: $state.includes('shields')}">
                        <a class="dropdown-toggle" data-toggle="dropdown">Shields <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li data-ng-class="{active: $state.includes('shields.list')}"><a
                                    data-ui-sref="shields.list">List</a></li>
                            <li data-ng-class="{active: $state.includes('shields.create')}"><a
                                    data-ui-sref="shields.create">Create</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-class="{active: $state.includes('grenadeMods')}">
                        <a class="dropdown-toggle" data-toggle="dropdown">Grenade mods <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li data-ng-class="{active: $state.includes('grenadeMods.list')}"><a
                                    data-ui-sref="grenadeMods.list">List</a></li>
                            <li data-ng-class="{active: $state.includes('grenadeMods.create')}"><a
                                    data-ui-sref="grenadeMods.create">Create</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-class="{active: $state.includes('classMods')}">
                        <a class="dropdown-toggle" data-toggle="dropdown">Class mods <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li data-ng-class="{active: $state.includes('classMods.list')}"><a
                                    data-ui-sref="classMods.list">List</a></li>
                            <li data-ng-class="{active: $state.includes('classMods.create')}"><a
                                    data-ui-sref="classMods.create">Create</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-class="{active: $state.includes('artifacts')}">
                        <a class="dropdown-toggle" data-toggle="dropdown">Artifacts <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li data-ng-class="{active: $state.includes('artifacts.list')}"><a
                                    data-ui-sref="artifacts.list">List</a></li>
                            <li data-ng-class="{active: $state.includes('artifacts.create')}"><a
                                    data-ui-sref="artifacts.create">Create</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" data-ng-class="{active: $state.includes('admin')}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li data-ng-class="{active: $state.includes('admin.rarities')}">
                                <a data-ui-sref="admin.rarities.list">Rarities</a>
                            </li>
                            <li data-ng-class="{active: $state.includes('admin.manufacturers')}">
                                <a data-ui-sref="admin.manufacturers.list">Manufacturers</a>
                            </li>
                            <li data-ng-class="{active: $state.includes('admin.damageTypes')}">
                                <a data-ui-sref="admin.damageTypes.list">Damage types</a>
                            </li>
                            <li data-ng-class="{active: $state.includes('admin.users')}">
                                <a data-ui-sref="admin.users.list">Users</a>
                            </li>
                            <li data-ng-class="{active: $state.includes('admin.files')}">
                                <a data-ui-sref="admin.files.list">Files</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a data-ui-sref="logout">Logout</a>
                    </li>

                </ul>
                <!--<form class="navbar-form navbar-right" role="search">-->
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                <!--</form>-->

            </div>

        </div>
    </nav>
</header>
