<div class="panel panel-default">

    <div class="panel-heading" data-translate="admin.users.details.pageTitle"></div>
    <div class="panel-body">

        <form class="form-horizontal" role="form">
            <div class="form-group" data-ng-class="{'has-error': errors.username}">
                <label for="username" class="col-sm-3 control-label"
                       data-translate="admin.users.details.username"></label>

                <div class="col-sm-9">
                    <input type="text" id="username" class="form-control" data-ng-model="user.username"
                           required="required"
                           maxlength="255"/>
                    <span class="help-inline" data-ng-show="errors['username']">{{errors['username']}}</span>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': errors.password}">
                <label for="password" class="col-sm-3 control-label"
                       data-translate="admin.users.details.password"></label>

                <div class="col-sm-9">
                    <input type="password" id="password" class="form-control" data-ng-model="user.password"
                           required="required"
                           maxlength="255"/>
                    <span class="help-inline" data-ng-show="errors['password']">{{errors['password']}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" data-translate="admin.users.details.roles"></label>

                <div class="col-sm-9">
                    <p data-ng-repeat="role in userRoles">
                        <input type="checkbox" data-ng-model="role.selected"> {{role.id}} - {{role.rolename}}
                    </p>
                </div>

            </div>

            <div class="form-group text-right">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-primary" data-ng-click="save()"
                            data-ng-disabled="isNotDirty()" data-translate="admin.users.details.button.save">
                    </button>

                    <button type="button" class="btn btn-default" data-ng-click="cancel()"
                            data-translate="admin.users.details.button.cancel">
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>
