/**********************************************************************************************************
 * variable definitions                                                                                   *
/**********************************************************************************************************/
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/** globals colors */
$lightBlue: #2A6082;
$darkBlue: #162546;

/* elemental damage color definitions */
$corrosiveColor: #09F108;
$electroColor: #1F4FBD;
$explosiveColor: #DCC824;
$fireColor: #E57B0E;
$slagColor: #7014AF;

/* create text highlight classes */
$uniqueTextColor: #C9433B;

/* overwrite boostrap variables */
/* overwrite container width for large screens */
$grid-gutter-width: 30px;
$container-large-desktop: ((1540px + $grid-gutter-width));

//$body-bg: $lightBlue;

$navbar-inverse-bg: $darkBlue;

$dropdown-bg: $darkBlue;
$dropdown-link-hover-bg: $darkBlue;
$dropdown-link-color: #777;
$dropdown-link-hover-color: #FFFFFF;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

/* Space out content a bit */
body {
  padding-top: 150px;
  padding-bottom: 20px;
}

.itemcontainer .form-group {
  padding: 10px;
  //background-color: #336600;
}

/* elemental damage colors */
.elem-corrosive {
  color: $corrosiveColor;
}

.elem-electro {
  color: $electroColor;
}

.elem-explosive {
  color: $explosiveColor;
}

.elem-fire {
  color: $fireColor;
}

.elem-slag {
  color: $slagColor;
}

.unique-text {
  color: $uniqueTextColor;
}

/* specific classes */
.weapon-card {
  border: 1px solid #000000;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #2b2c51;

  // .level must be directly inside .weapon-card
  //& > .level {
  .level {
    background-color: #33627C;
    color: #a0aeb9;
    font-weight: bold;
    @extend .text-center;
  }

  .weapon-stats {
    background-color: #395a7d;
    color: #83ced0;
    font-weight: bold;
  }

}
