<h1>Files</h1>

<div class="panel panel-default">
    <div class="panel-heading">Files</div>
    <div class="panel-body">
        <p>Here you can manage uploaded files</p>
    </div>

    <table class="table table-striped table-bordered">

        <tr>
            <th>id</th>
            <th>name</th>
            <th>mediatype</th>
            <th>size</th>
            <th>width</th>
            <th>height</th>
            <th class="col-xs-1">&nbsp;</th>
            <th class="col-xs-1">&nbsp;</th>
        </tr>

        <tr data-ng-repeat="file in files">
            <td>{{file.id}}</td>
            <td>{{file.name}}</td>
            <td>{{file.mediatype}}</td>
            <td>{{file.size}}</td>
            <td>{{file.width}}</td>
            <td>{{file.height}}</td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-xs"
                        data-ui-sref=".edit({id: file.id})">
                    <span class="glyphicon glyphicon-pencil" title="edit user"></span>
                </button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-danger btn-xs" data-ng-click="remove(file)">
                    <span class="glyphicon glyphicon-trash" title="delete user"></span>
                </button>
            </td>
        </tr>
    </table>

    <div class="panel-footer text-right">
        <button type="button" class="btn btn-success" data-ui-sref=".upload"
                title="upload a new file">
            <span class="glyphicon glyphicon-plus-sign"></span>
            upload a new file
        </button>
    </div>

</div>

