<h1 data-translate="weapon.create.title"></h1>

<div class="row">
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading" data-translate="weapon.create.form.title"></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group" data-ng-class="{'has-error': errors.level}">
                            <label for="level" class="col-lg-3 control-label">Level requirement</label>

                            <div class="col-lg-9">
                                <input type="number" id="level" ng-model="weapon.level" class="form-control" min="1"
                                       max="72">
                                <span class="help-inline text-danger" data-ng-show="errors['level']">{{errors['level']}}</span>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.rarity}">
                            <label for="rarity2" class="col-lg-3 control-label">Rarity</label>

                            <div class="col-lg-9">
                                <select id="rarity2" data-ng-model="weapon.rarity" ng-options="r.name for r in rarities"
                                        class="form-control">
                                </select>
                                <span class="help-inline text-danger" data-ng-show="errors['rarity']">{{errors['rarity']}}</span>
                            </div>

                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.name}">
                            <label for="name" class="col-lg-3 control-label">Name</label>

                            <div class="col-lg-9">
                                <input type="text" id="name" ng-model="weapon.name" placeholder="Practicable Butcher"
                                       class="form-control item-name">
                                <span class="help-inline text-danger" data-ng-show="errors['name']">{{errors['name']}}</span>
                            </div>
                        </div>


                        <div class="form-group" data-ng-class="{'has-error': errors.damage}">

                            <div class="col-xs-6">
                                <label for="damage" class="col-lg-3 control-label">Damage</label>

                                <div class="col-lg-9">
                                    <input type="text" id="damage" ng-model="weapon.damage" placeholder="5463 x3"
                                           class="form-control">
                                    <span class="help-inline text-danger"
                                          data-ng-show="errors['damage']">{{errors['damage']}}</span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label for="multiplicator" class="col-lg-3 control-label">Multiplicator</label>

                                <div class="col-lg-9">
                                    <input type="text" id="multiplicator" ng-model="weapon.multiplicator"
                                           placeholder="3"
                                           class="form-control">
                            <span class="help-inline text-danger"
                                  data-ng-show="errors['multiplicator']">{{errors['multiplicator']}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.accuracy}">
                            <label for="accuracy" class="col-lg-3 control-label">Accuracy</label>

                            <div class="col-lg-9">
                                <input type="text" id="accuracy" ng-model="weapon.accuracy" placeholder="61.9"
                                       class="form-control">
                                <span class="help-inline text-danger"
                                      data-ng-show="errors['accuracy']">{{errors['accuracy']}}</span>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.fireRate}">
                            <label for="fireRate" class="col-lg-3 control-label">Fire Rate</label>

                            <div class="col-lg-9">
                                <input type="text" id="fireRate" ng-model="weapon.fireRate" placeholder="7.0"
                                       class="form-control">
                                <span class="help-inline text-danger"
                                      data-ng-show="errors['fireRate']">{{errors['fireRate']}}</span>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.reloadSpeed}">
                            <label for="reloadSpeed" class="col-lg-3 control-label">Reload Speed</label>

                            <div class="col-lg-9">
                                <input type="text" id="reloadSpeed" ng-model="weapon.reloadSpeed" placeholder="3.7"
                                       class="form-control">
                            <span class="help-inline text-danger"
                                  data-ng-show="errors['reloadSpeed']">{{errors['reloadSpeed']}}</span>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.magazineSize}">
                            <label for="magazineSize" class="col-lg-3 control-label">Magazine Size</label>

                            <div class="col-lg-9">
                                <input type="text" id="magazineSize" ng-model="weapon.magazineSize" placeholder="13"
                                       class="form-control">
                            <span class="help-inline text-danger"
                                  data-ng-show="errors['magazineSize']">{{errors['magazineSize']}}</span>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.damageType}">
                            <label for="damageType" class="col-lg-3 control-label">Elemental Damage Type</label>

                            <div class="col-lg-9">
                                <select id="damageType" data-ng-model="weapon.damageType"
                                        ng-options="dmg.name for dmg in damageTypes"
                                        class="form-control" data-ng-change="changeDamageType()">
                                    <option>-none-</option>
                                </select>
                            <span class="help-inline text-danger"
                                  data-ng-show="errors['damageType']">{{errors['damageType']}}</span>
                            </div>
                        </div>

                        <div class="form-group" ng-hide="weapon.damageType.damageLabel == null"
                             data-ng-class="{'has-error': errors.elemDamage}">
                            <label for="elemDamage"
                                   class="col-lg-3 control-label">{{weapon.damageType.damageLabel}}</label>

                            <div class="col-lg-9">
                                <input type="text" id="elemDamage" ng-model="weapon.elemDamage" placeholder="3605.9"
                                       class="form-control">
                            <span class="help-inline text-danger"
                                  data-ng-show="errors['elemDamage']">{{errors['elemDamage']}}</span>
                            </div>
                        </div>

                        <div class="form-group" ng-hide="weapon.damageType.chanceLabel == null"
                             data-ng-class="{'has-error': errors.elemChance}">
                            <label for="elemChance"
                                   class="col-lg-3 control-label">{{weapon.damageType.chanceLabel}}</label>

                            <div class="col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-addon">%</span>
                                    <input type="text" id="elemChance" ng-model="weapon.elemChance" placeholder="12.0"
                                           class="form-control">
                                    </span>
                                </div>

                            <span class="help-inline text-danger"
                                  data-ng-show="errors['elemChance']">{{errors['elemChance']}}</span>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.uniqueText}">
                            <label for="uniqueText" class="col-lg-3 control-label">Unique text</label>

                            <div class="col-lg-9">
                                <input type="text" id="uniqueText" ng-model="weapon.uniqueText" placeholder=""
                                       class="form-control">
                            <span class="help-inline text-danger"
                                  data-ng-show="errors['uniqueText']">{{errors['uniqueText']}}</span>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.additionalText}">
                            <label for="additionalText" class="col-lg-3 control-label">Additional text</label>

                            <div class="col-lg-9">
                                <textarea id="additionalText" data-ng-model="weapon.additionalText" placeholder=""
                                          class="form-control"
                                          rows="5">
                                </textarea>
                        <span class="help-inline text-danger"
                              data-ng-show="errors['additionalText']">{{errors['additionalText']}}</span>
                            </div>
                        </div>

                        <div class="form-group" data-ng-class="{'has-error': errors.manufacturer}">
                            <label for="manufacturer" class="col-lg-3 control-label">Manufacturer</label>

                            <div class="col-lg-9">
                                <select id="manufacturer" data-ng-model="weapon.manufacturer"
                                        ng-options="man.name for man in manufacturers"
                                        class="form-control">
                                </select>
                        <span class="help-inline text-danger"
                              data-ng-show="errors['manufacturer']">{{errors['manufacturer']}}</span>
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" class="btn btn-default" data-ng-click="save()">save</button>

                                <button type="button" class="btn btn-primary" data-ng-click="cancel()">cancel</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-6 visible-md-inline-block visible-lg-inline-block">
        <display-item data-item="weapon" data-item-type="weapon"></display-item>
    </div>
</div>
