<!-- skill tree -->
<div class="panel panel-default">
    <div class="panel-heading" data-translate="classMods.details.skill.tree.title"></div>
    <div class="panel-body">

        <div class="row">

            <div class="col-md-4" data-ng-repeat="subTree in skills.subTrees">
                <div class="well" style="border: 4px solid {{subTree.borderColor}};">

                    <div class="row" data-ng-repeat="tier in subTree.tiers">
                        <bl2-skill data-skill="tier.left"
                                   data-characater-class="classMod.characterClass.classRequirement"
                                   data-sub-tree="{{subTree.color}}"></bl2-skill>


                        <bl2-skill data-skill="tier.middle"
                                   data-characater-class="classMod.characterClass.classRequirement"
                                   data-sub-tree="{{subTree.color}}"></bl2-skill>

                        <bl2-skill data-skill="tier.right"
                                   data-characater-class="classMod.characterClass.classRequirement"
                                   data-sub-tree="{{subTree.color}}"></bl2-skill>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2>{{subTree.title}}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
