<!-- skill tree -->
<div class="panel panel-default">
    <div class="panel-heading" data-translate="classMods.details.skill.tree.title"></div>
    <div class="panel-body">

        <div class="row">

            <div class="col-md-4" data-ng-repeat="subTree in vm.skills">
                <div class="well" style="border: 4px solid {{subTree.borderColor}};">

                    <div class="row" data-ng-repeat="tier in subTree.skillTiers">
                        <bl2-skill data-skill="tier.leftSkill" data-sub-tree="{{subTree.color}}"
                                   data-characater-class="vm.classMod.characterClass.classRequirement"
                                   data-on-add="vm.addPoint(skill)" data-on-remove="vm.removePoint(skill)"></bl2-skill>

                        <bl2-skill data-skill="tier.middleSkill" data-sub-tree="{{subTree.color}}"
                                   data-characater-class="vm.classMod.characterClass.classRequirement"
                                   data-on-add="vm.addPoint(skill)" data-on-remove="vm.removePoint(skill)"></bl2-skill>

                        <bl2-skill data-skill="tier.rightSkill" data-sub-tree="{{subTree.color}}"
                                   data-characater-class="vm.classMod.characterClass.classRequirement"
                                   data-on-add="vm.addPoint(skill)" data-on-remove="vm.removePoint(skill)"></bl2-skill>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2>{{subTree.title}}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
