<h1>Damage types</h1>

<div class="panel panel-default">
    <div class="panel-heading" data-translate="admin.damageTypes.list.pageTitle"></div>
    <div class="panel-body" data-translate="admin.damageTypes.list.pageDescription"></div>

    <table class="table table-striped table-bordered">
        <tr>
            <th data-translate="admin.damageTypes.list.table.header.name"></th>
            <th data-translate="admin.damageTypes.list.table.header.color"></th>
            <th data-translate="admin.damageTypes.list.table.header.sortOrder"></th>
            <th data-translate="admin.damageTypes.list.table.header.damageLabel"></th>
            <th data-translate="admin.damageTypes.list.table.header.chanceLabel"></th>
            <th data-translate="admin.damageTypes.list.table.header.additionalText"></th>
            <th data-translate="admin.damageTypes.list.table.header.menu" class="col-xs-1"></th>
        </tr>
        <tr data-ng-repeat="damageType in vm.damageTypes" style="color: {{damageType.color}}">
            <td>{{damageType.name}}</td>
            <td>{{damageType.color}}</td>
            <td>{{damageType.sortOrder}}</td>
            <td>{{damageType.damageLabel}}</td>
            <td>{{damageType.chanceLabel}}</td>
            <td>{{damageType.additionalText}}</td>
            <td class="text-center">
                <button type="button" class="btn btn-default btn-xs"
                        data-ui-sref=".edit({id: damageType.id})">
                    <span class="glyphicon glyphicon-pencil" title="{{'admin.damageTypes.list.table.menu.edit' | translate}}"></span>
                </button>

                <button type="button" class="btn btn-danger btn-xs" data-ng-click="vm.remove(damageType)">
                    <span class="glyphicon glyphicon-trash" title="{{'admin.damageTypes.list.table.menu.delete' | translate}}"></span>
                </button>
            </td>
        </tr>
    </table>

    <div class="panel-footer text-right">
        <button type="button" class="btn btn-success" data-ui-sref=".create" title="{{'admin.damageTypes.list.table.footer.create' | translate}}">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span data-translate="admin.damageTypes.list.table.footer.create"></span>
        </button>
    </div>

</div>

