<div class="panel panel-default">

    <div class="panel-heading">Rarity</div>
    <div class="panel-body">

        <form class="form-horizontal" role="form">
            <div class="form-group" data-ng-class="{'has-error': errors.name}">
                <label for="name" class="col-sm-3 control-label">Name</label>

                <div class="col-sm-9">
                    <input type="text" id="name" class="form-control" data-ng-model="rarity.name" required="required"
                           maxlength="255"/>
                    <span class="help-inline" data-ng-show="errors['name']">{{errors['name']}}</span>
                </div>
            </div>

            <color data-ng-model="rarity.color" data-error="errors.color"></color>

            <!--<div class="form-group" data-ng-class="{'has-error': errors.color}">-->

            <!--<label for="color" class="col-sm-3 control-label">Color</label>-->

            <!--<div class="col-sm-9">-->
            <!--<input type="text" id="color" class="form-control" data-color data-ng-model="rarity.color"-->
            <!--required="required"-->
            <!--maxlength="7"/>-->

            <!--<span data-ng-show="errors['color']">{{errors['color']}}</span>-->
            <!--</div>-->
            <!--</div>-->

            <div class="form-group" data-ng-class="{'has-error': errors.sortOrder}">
                <label for="sortOrder" class="col-sm-3 control-label">Order</label>

                <div class="col-sm-9">
                    <input type="number" id="sortOrder" class="form-control" data-ng-model="rarity.sortOrder"
                           required="required" min="1"/>
                    <span class="help-inline" data-ng-show="errors['sortOrder']">{{errors['sortOrder']}}</span>
                </div>
            </div>

            <div class="form-group text-right">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-primary" data-ng-click="save()">save</button>

                    <button type="button" class="btn btn-default" data-ng-click="cancel()">cancel</button>
                </div>
            </div>
        </form>

    </div>

</div>
