<div class="panel panel-default">

    <div class="panel-heading" data-translate="admin.rarities.details.pageTitle"></div>
    <div class="panel-body">

        <form class="form-horizontal" role="form">
            <div class="form-group" data-ng-class="{'has-error': vm.errors.name}">
                <label for="name" class="col-sm-3 control-label" data-translate="admin.rarities.details.name"></label>

                <div class="col-sm-9">
                    <input type="text" id="name" class="form-control" data-ng-model="vm.rarity.name" required="required"
                           maxlength="255"/>
                    <span class="help-inline text-danger" data-ng-show="vm.errors.name">{{vm.errors.name}}</span>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vm.errors.color}">

                <label for="color" class="col-sm-3 control-label" data-translate="admin.rarities.details.color"></label>

                <div class="col-sm-9">
                    <color-picker name="color" data-color="vm.rarity.color" data-error="vm.errors.color"></color-picker>
                </div>

            </div>

            <div class="form-group" data-ng-class="{'has-error': vm.errors.sortOrder}">
                <label for="sortOrder" class="col-sm-3 control-label"
                       data-translate="admin.rarities.details.order"></label>

                <div class="col-sm-9">
                    <input type="number" id="sortOrder" class="form-control" data-ng-model="vm.rarity.sortOrder"
                           required="required" min="1"/>
                    <span class="help-inline text-danger"
                          data-ng-show="vm.errors.sortOrder">{{vm.errors.sortOrder}}</span>
                </div>
            </div>

            <div class="form-group text-right">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary" data-ng-click="vm.save()" data-ng-disabled="vm.isNotDirty()"
                            data-translate="admin.rarities.details.button.save">
                    </button>

                    <button type="button" class="btn btn-default" data-ng-click="vm.cancel()"
                            data-translate="admin.rarities.details.button.cancel">
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>
