<div>
    <div class="col-xs-2">
        <spectrum-colorpicker data-ng-model="color" data-format="'hex'"
                              data-options="{showInput: true, clickoutFiresChange: true, showButtons: false}"></spectrum-colorpicker>
    </div>
    <div class="col-xs-10">
        <input type="text" id="{{name}}}" class="form-control" required="required" maxlength="7"
               data-ng-model="color" data-error="error"/>
    </div>

    <span data-ng-show="error">{{error}}</span>
</div>
